.container
{
    width: 400px;
    height: 400px;
    margin: 40px auto;
    border-top: 6px solid #ff0;
    position: relative;
}

.container::before
{
    content: '';
    width: 300px;
    height: 300px;
    border-top: 6px solid #ff9;
    position: absolute;
    left: 50px;
    top: 50px;
}

.container::after
{
    content: '';
    width: 200px;
    height: 200px;
    border-top: 6px solid #000;
    position: absolute;
    left: 100px;
    top: 100px;
}

.container, .container::before, .container::after
{
    border-radius: 50%;
    -webkit-animation: spin 1s infinite linear;
}

@keyframes spin{
    0%{
        transform: rotate(360deg)
    }

}